venv/
build/
*.charm
.tox
.venv/
*.egg-info/

.coverage
__pycache__/
*.py[cod]
*.xml

.idea/
.vscode

*.pem
k8s/tests/integration/vault_kv_requirer_operator/lib/*
machine/tests/integration/vault_kv_requirer_operator/lib/*
.charm_tracing_buffer.raw

# Ignore allure report and results if running locally
allure-report/
allure-results/
