cosl
ops
hvac
jinja2
jsonschema
lightkube
lightkube-models
pydantic==2.9.1
pytest-interface-tester
pyhcl
requests
jsonschema
cryptography
boto3
boto3-stubs[s3] # required by vault_s3
ops-scenario==6.1.7
rpds-py==0.19.1
