black
coverage[toml]
flake8
flake8-docstrings
flake8-copyright
flake8-builtins
hvac
isort
juju
mypy
pep8-naming
pydantic
pyproject-flake8
pytest
pytest-operator
types-PyYAML
types-setuptools
types-toml
types-requests
types-boto3
types-botocore
