[project]
name = "vault-k8s-operator"
version = "0.1.0"
requires-python = ">=3.10"

dependencies = [
    "allure-pytest",
    "boto3",
    "boto3-stubs[s3]",
    "cosl>0.0.50",
    "cryptography",
    "hvac",
    "jinja2",
    "jsonschema",
    "lightkube",
    "lightkube-models",
    "ops>=0.23.0",
    "opentelemetry-exporter-otlp-proto-http",
    "pydantic==2.10.6",
    "pytest-interface-tester",
    "pyhcl",
    "requests",
    "rpds-py==0.23.1",
]

[dependency-groups]
test = [
    "coverage[toml]",
    "juju",
    "ops[testing]",
    "pytest",
    "pytest-operator",
    "pytest-asyncio==0.21.2",
]
dev = ["codespell", "pyright", "ruff", "types-hvac"]

[tool.ruff]
extend = "../pyproject.toml"
extend-exclude = [
    "lib/charms/certificate_transfer_interface/",
    "lib/charms/data_platform_libs/",
    "lib/charms/grafana_k8s/",
    "lib/charms/loki_k8s/",
    "lib/charms/prometheus_k8s/",
    "lib/charms/tempo_coordinator_k8s/",
    "lib/charms/tls_certificates_interface/",
    "lib/charms/traefik_k8s/",
]

[tool.pyright]
extends = "../pyproject.toml"
include = ["src/", "lib/", "tests/"]
ignore = [
    "lib/charms/certificate_transfer_interface/",
    "lib/charms/data_platform_libs/",
    "lib/charms/grafana_k8s/",
    "lib/charms/loki_k8s/",
    "lib/charms/prometheus_k8s/",
    "lib/charms/tempo_coordinator_k8s/",
    "lib/charms/tls_certificates_interface/",
    "lib/charms/traefik_k8s/",
]
