ui      = true
storage "raft" {
  path= "{{ raft_storage_path }}"
  node_id = "{{ node_id }}"
  {% for retry in retry_joins %}
  retry_join {
    leader_api_addr = "{{ retry.leader_api_addr }}"
    leader_ca_cert_file = "{{ retry.leader_ca_cert_file }}"
  }
  {% endfor %}
}
listener "tcp" {
  telemetry {
    unauthenticated_metrics_access = true
  }
  address       = "{{ tcp_address }}"
  tls_cert_file = "{{ tls_cert_file }}"
  tls_key_file  = "{{ tls_key_file }}"
}
default_lease_ttl = "{{ default_lease_ttl }}"
max_lease_ttl     = "{{ max_lease_ttl }}"
disable_mlock     = true
cluster_addr      = "{{ cluster_address }}"
api_addr          = "{{ api_address }}"
telemetry {
  disable_hostname = true
  prometheus_retention_time = "12h"
}
{% if autounseal_address %}
seal "transit" {
  address         = "{{ autounseal_address }}"
  disable_renewal = "false"
  key_name        = "{{ autounseal_key_name }}"
  mount_path      = "{{ autounseal_mount_path }}"
  tls_ca_cert     = "{{ autounseal_tls_ca_cert }}"
}
{% endif %}
