name: Build

on:
  workflow_call:
    inputs:
      path:
        description: Path to the charm's root directory
        required: true
        type: string
      vault-charm-artifact-name:
        description: Name of the artifact to be uploaded for the vault charm
        required: true
        type: string
      kv-requirer-charm-artifact-name:
        description: Name of the artifact to be uploaded for the kv-requirer charm
        required: true
        type: string

jobs:
  build-charm-under-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup LXD
        uses: canonical/setup-lxd@main
        with:
          channel: 5.21/stable

      - name: Install charmcraft
        run: sudo snap install charmcraft --classic

      - name: Build charm under test
        run: charmcraft pack --verbose --project-dir ${{ inputs.path }}

      - name: Archive Charm Under Test
        uses: actions/upload-artifact@v4
        with:
          name: ${{ inputs.vault-charm-artifact-name }}
          path: "*.charm"
          retention-days: 5

  build-kv-requirer:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup LXD
        uses: canonical/setup-lxd@v0.1.3
        with:
          channel: 5.21/stable

      - name: Install charmcraft
        run: sudo snap install charmcraft --classic

      - name: Build KV Requirer charm
        run: |
          cp ${{ inputs.path }}lib/charms/vault_k8s/v0/vault_kv.py ${{ inputs.path }}tests/integration/vault_kv_requirer_operator/lib/charms/vault_k8s/v0/vault_kv.py
          cp ${{ inputs.path }}lib/vault/juju_facade.py ${{ inputs.path }}tests/integration/vault_kv_requirer_operator/lib/vault/juju_facade.py
          charmcraft pack --verbose --project-dir ${{ inputs.path }}tests/integration/vault_kv_requirer_operator

      - name: Archive KV Requirer Charm
        uses: actions/upload-artifact@v4
        with:
          name: ${{ inputs.kv-requirer-charm-artifact-name }}
          path: "*.charm"
          retention-days: 5
