name: Build

on:
  workflow_call:
    inputs:
      path:
        description: Path to the charm's root directory
        required: true
        type: string
      vault-charm-artifact-name:
        description: Name of the artifact to be uploaded for the vault charm
        required: true
        type: string
      kv-requirer-charm-artifact-name:
        description: Name of the artifact to be uploaded for the kv-requirer charm
        required: true
        type: string
    outputs:
      artifacts-key:
        description: Artifact identifier for the vault charm
        value: ${{ jobs.build-charm-under-test.outputs.artifacts-key }}
      charm-paths:
        description: Comma-separated charm file paths
        value: ${{ jobs.build-charm-under-test.outputs.charm-paths }}

jobs:
  build-charm-under-test:
    runs-on: ubuntu-latest
    outputs:
      artifacts-key: ${{ inputs.vault-charm-artifact-name }}
      charm-paths: ${{ steps.get-charm-path.outputs.charm-path }}
    steps:
      - uses: actions/checkout@v6

      - name: Setup LXD
        uses: canonical/setup-lxd@main
        with:
          channel: 5.21/stable

      - name: Install charmcraft
        run: sudo snap install charmcraft --classic

      - name: Install yq
        run: sudo snap install yq

      - name: Build charm under test
        working-directory: ${{ inputs.path }}
        run: charmcraft pack --verbose

      - name: Get charm path
        id: get-charm-path
        working-directory: ${{ inputs.path }}
        run: |
          CHARM_NAME=$(yq -r '.name' charmcraft.yaml)
          PLATFORM=$(yq -r '.bases // .platforms | keys | .[] | select(endswith(":amd64"))' charmcraft.yaml | head -1 | sed 's/@/-/g' | sed 's/:/-/g')
          echo "charm-path=${CHARM_NAME}_${PLATFORM}.charm" >> $GITHUB_OUTPUT

      - name: Archive Charm Under Test
        uses: actions/upload-artifact@v5
        with:
          name: ${{ inputs.vault-charm-artifact-name }}
          path: "${{ inputs.path }}*.charm"
          retention-days: 5

  build-kv-requirer:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Setup LXD
        uses: canonical/setup-lxd@v0.1.3
        with:
          channel: 5.21/stable

      - name: Install charmcraft
        run: sudo snap install charmcraft --classic

      - name: Build KV Requirer charm
        working-directory: ${{ inputs.path }}
        run: |
          make copy-test-libs
          charmcraft pack --verbose --project-dir tests/integration/vault_kv_requirer_operator

      - name: Archive KV Requirer Charm
        uses: actions/upload-artifact@v5
        with:
          name: ${{ inputs.kv-requirer-charm-artifact-name }}
          path: "${{ inputs.path }}*.charm"
          retention-days: 5
          if-no-files-found: error
