name: Build KV Requirer Test Charm

on:
  workflow_call:
    inputs:
      path:
        description: Path to the charm's root directory
        required: true
        type: string
      artifact-name:
        description: Name of the artifact to be uploaded for the kv-requirer charm
        required: true
        type: string

jobs:
  build-kv-requirer:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Setup LXD
        uses: canonical/setup-lxd@v0.1.3
        with:
          channel: 5.21/stable

      - name: Install charmcraft
        run: sudo snap install charmcraft --classic

      - name: Build KV Requirer charm
        working-directory: ${{ inputs.path }}
        run: |
          make copy-test-libs
          charmcraft pack --verbose --project-dir tests/integration/vault_kv_requirer_operator

      - name: Archive KV Requirer Charm
        uses: actions/upload-artifact@v5
        with:
          name: ${{ inputs.artifact-name }}
          path: "${{ inputs.path }}*.charm"
          retention-days: 5
          if-no-files-found: error
