name: Integration tests

on:
  workflow_call:

jobs:
  integration-test:
    runs-on: ${{ matrix.runner }}
    strategy:
      matrix:
        runner: [ubuntu-22.04, [self-hosted, linux, X64, jammy, large]]

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - name: Fetch Charm Under Test
        uses: actions/download-artifact@v4
        with:
          name: built-charm
          path: built/
      
      - name: Get Charm Under Test Path
        id: charm-path
        run: echo "charm_path=$(find built/ -name '*.charm' -type f -print)" >> $GITHUB_OUTPUT
      
      - name: Fetch KV Requirer Charm
        uses: actions/download-artifact@v4
        with:
          name: kv-requirer-charm
          path: kv-requirer/
      
      - name: Get KV Requirer Charm Path
        id: kv-requirer-charm-path
        run: echo "charm_path=$(find kv-requirer/ -name '*.charm' -type f -print)" >> $GITHUB_OUTPUT

      - name: Setup operator environment
        uses: charmed-kubernetes/actions-operator@main
        with:
          provider: microk8s
          channel: 1.29-strict/stable
          juju-channel: 3.4/stable
          lxd-channel: 5.20/stable
  
      - name: Enable Metallb
        run: /usr/bin/sg snap_microk8s -c "sudo microk8s enable metallb:10.0.0.2-10.0.0.10"

      - name: Run integration tests
        run: |
          tox -e integration -- \
            --charm_path="${{ steps.charm-path.outputs.charm_path }}" \
            --kv_requirer_charm_path="${{ steps.kv-requirer-charm-path.outputs.charm_path }}"
  
      - name: Archive charmcraft logs
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: charmcraft-logs
          path: /home/runner/.local/state/charmcraft/log/*.log
  
      - name: Archive juju crashdump
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: juju-crashdump
          path: juju-crashdump-*.tar.xz
