name: Integration tests

on:
  workflow_call:
    inputs:
      charm-file-name:
        description: Tested charm file name
        required: true
        type: string
      enable-metallb:
        description: Enable MetalLB
        required: false
        type: boolean
        default: false
      metallb-range:
        description: MetalLB range
        required: false
        type: string
        default: "10.0.0.2-10.0.0.10"

jobs:
  integration-test:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608 # v4
      - name: Setup operator environment
        uses: charmed-kubernetes/actions-operator@main
        with:
          provider: microk8s
          channel: 1.27-strict/stable
          juju-channel: 3.1/stable
          microk8s-addons: "hostpath-storage dns"
      - name: Enable MetalLB
        if: ${{ inputs.enable-metallb == true }}
        run: /usr/bin/sg snap_microk8s -c "sudo microk8s enable metallb:${{ inputs.metallb-range }}"
      - name: Run integration tests
        run: tox -e integration
      - name: Archive Tested Charm
        uses: actions/upload-artifact@v3
        if: ${{ github.ref_name == 'main' }}
        with:
          name: tested-charm
          path: .tox/**/${{ inputs.charm-file-name }}
          retention-days: 5
      - name: Archive charmcraft logs
        if: failure()
        uses: actions/upload-artifact@v3
        with:
          name: charmcraft-logs
          path: /home/runner/.local/state/charmcraft/log/*.log
      - name: Archive juju crashdump
        if: failure()
        uses: actions/upload-artifact@v3
        with:
          name: juju-crashdump
          path: juju-crashdump-*.tar.xz
