name: Integration tests

on:
  workflow_call:
    inputs:
      path:
        description: Path to the charm's root directory
        required: true
        type: string
      vault-charm-artifact-name:
        description: Name of the artifact to be downloaded for the vault charm
        required: true
        type: string
      kv-requirer-charm-artifact-name:
        description: Name of the artifact to be uploaded for the kv-requirer charm
        required: true
        type: string

jobs:
  integration-test:
    runs-on: [self-hosted, linux, X64, xlarge, jammy]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Fetch Charm Under Test
        uses: actions/download-artifact@v4
        with:
          name: ${{ inputs.vault-charm-artifact-name }}
          path: ${{ inputs.path }}built/

      - name: Get Charm Under Test Path
        id: charm-path
        run: echo "charm_path=$(find ${{ inputs.path }}built/ -name '*.charm' -type f -print)" >> $GITHUB_OUTPUT

      - name: Fetch KV Requirer Charm
        uses: actions/download-artifact@v4
        with:
          name: ${{ inputs.kv-requirer-charm-artifact-name }}
          path: ${{ inputs.path }}kv-requirer/

      - name: Get KV Requirer Charm Path
        id: kv-requirer-charm-path
        run: echo "charm_path=$(find ${{ inputs.path }}kv-requirer/ -name '*.charm' -type f -print)" >> $GITHUB_OUTPUT

      - name: Setup operator environment
        uses: charmed-kubernetes/actions-operator@main
        with:
          provider: microk8s
          channel: 1.31-strict/stable
          juju-channel: 3.6/stable
          lxd-channel: 5.21/stable

      - name: Install UV and Tox
        run: |
          pipx uninstall tox
          sudo snap install astral-uv --classic
          uv tool install tox --with tox-uv --force

      - name: Enable Metallb
        run: |
          IPADDR=$(ip -4 -j route get 2.2.2.2 | jq -r '.[] | .prefsrc')
          IFS='.' read -r i1 i2 i3 i4 <<< "$IPADDR"
          START_IP="$i1.$i2.$i3.$((i4+1))"
          END_IP="$i1.$i2.$i3.$((i4+9))"
          RANGE="$START_IP-$END_IP"
          echo "RANGE=$RANGE" >> $GITHUB_OUTPUT
          /usr/bin/sg snap_microk8s -c "sudo microk8s enable metallb:$RANGE"

      - name: Run integration tests
        run: |
          mv ${{ steps.charm-path.outputs.charm_path }} ${{ inputs.path }}vault.charm
          mv ${{ steps.kv-requirer-charm-path.outputs.charm_path }} ${{ inputs.path }}kv-requirer.charm
          cd ${{ inputs.path }}
          tox -e integration -- \
            --charm_path=./vault.charm \
            --kv_requirer_charm_path=./kv-requirer.charm \
            --alluredir allure-results

      - name: Load test report history
        uses: actions/checkout@v4
        if: always()
        continue-on-error: true
        with:
          ref: gh-pages
          path: gh-pages
      - name: Build test report
        uses: simple-elf/allure-report-action@v1.13
        if: always()
        with:
          gh_pages: gh-pages
          allure_history: allure-history
          allure_results: allure-results
      - name: Publish test report
        uses: peaceiris/actions-gh-pages@v4
        if: always()
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: allure-history

      - name: Archive charmcraft logs
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: charmcraft-logs
          path: /home/runner/.local/state/charmcraft/log/*.log

      - name: Archive juju crashdump
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: juju-crashdump
          path: juju-crashdump-*.tar.xz
