name: Integration tests

on:
  workflow_call:
    inputs:
      path:
        description: Path to the charm's root directory
        required: true
        type: string
      vault-charm-artifact-name:
        description: Name of the artifact to be downloaded for the vault charm
        required: true
        type: string
      kv-requirer-charm-artifact-name:
        description: Name of the artifact to be uploaded for the kv-requirer charm
        required: true
        type: string

jobs:
  integration-matrix:
    name: Define Integration tests matrix
    runs-on: ubuntu-latest
    outputs:
      suites: ${{ steps.suites.outputs.suites }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Generate matrix list
        id: suites
        run: |
          cd ${{ inputs.path }}
          list="$(find tests/integration -name 'test_*.py' -printf '%f\n' | jq -r -ncR '[inputs]')"
          echo "suites=$list"
          echo "suites=$list" >> "$GITHUB_OUTPUT"

  integration-tests:
    name: Integration Tests
    runs-on: ubuntu-latest
    needs: [integration-matrix]
    strategy:
      fail-fast: false
      matrix:
        suite: ${{ fromJSON(needs.integration-matrix.outputs.suites) }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup operator environment
        uses: charmed-kubernetes/actions-operator@main
        with:
          provider: microk8s
          channel: 1.31-strict/stable
          juju-channel: 3.6/stable

      - name: Install UV and Tox
        run: |
          pipx uninstall tox
          sudo snap install astral-uv --classic
          uv tool install tox --with tox-uv --force
      - name: Enable Metallb
        run: |
          /usr/bin/sg snap_microk8s -c "sudo microk8s enable metallb:10.0.0.2-10.0.0.8"
      - name: Fetch Charm Under Test
        uses: actions/download-artifact@v6
        with:
          name: ${{ inputs.vault-charm-artifact-name }}
          path: ${{ inputs.path }}built/
      - name: Fetch KV Requirer Charm
        uses: actions/download-artifact@v6
        with:
          name: ${{ inputs.kv-requirer-charm-artifact-name }}
          path: ${{ inputs.path }}built/
      - name: Run integration tests
        working-directory: ${{ inputs.path }}
        run: |
          tox -e integration -- \
            --charm_path=./built/vault-k8s_ubuntu@24.04-amd64.charm \
            --kv_requirer_charm_path=./built/vault-kv-requirer_amd64.charm \
            --alluredir allure-results \
            -k "${{ matrix.suite }}"

      - name: Upload Allure results
        uses: actions/upload-artifact@v5
        with:
          name: allure-results-${{ matrix.suite }}
          path: ${{ inputs.path }}/allure-results
      - name: Archive charmcraft logs
        if: failure()
        uses: actions/upload-artifact@v5
        with:
          name: charmcraft-logs-${{ matrix.suite }}
          path: /home/runner/.local/state/charmcraft/log/*.log

      - name: Archive juju crashdump
        if: failure()
        uses: actions/upload-artifact@v5
        with:
          name: juju-crashdump-k8s-${{ matrix.suite }}
          path: ${{ inputs.path }}/juju-crashdump-*.tar.xz

  aggregate-integration-results:
    name: Aggregate integration test results
    runs-on: ubuntu-latest
    needs: [integration-tests]
    if: always()
    steps:
      - name: Download all Allure results artifacts
        uses: actions/download-artifact@v6
        with:
          pattern: allure-results-*
          path: allure-results
          merge-multiple: true
      - name: Load test report history
        uses: actions/checkout@v6
        if: always()
        continue-on-error: true
        with:
          ref: gh-pages
          path: gh-pages
      - name: Build test report
        uses: simple-elf/allure-report-action@v1.13
        if: always()
        continue-on-error: true
        with:
          gh_pages: gh-pages
          allure_history: allure-history
          allure_results: allure-results
      - name: Publish test report
        uses: peaceiris/actions-gh-pages@v4
        if: always()
        continue-on-error: true
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: allure-history
      - name: Check matrix job results
        run: |
          # The 'needs' context contains the results of the jobs listed in 'needs:'
          job_result="${{ needs.integration-tests.result }}"

          echo "Result of $job_result"

          if [ "$job_result" == "success" ] || [ "$job_result" == "skipped" ]; then
            echo "Jobs concluded with success or skips."
            exit 0
          else
            echo "Jobs concluded with '$job_result'."
            exit 1
          fi
